{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="banner">
  <div class="">
    <h1 id="title">Unsplash Me</h1>
    <h3 id="description">Search for an image. If you can't find it here, it's probably not here</h3>
    <form action="{% url 'search_image' %}" role="search">
      <div>
        <input type="text" class="form-control" placeholder="&#xf3ee; Search for an image by category">
      </div>
      <small>Trending searches: puppies, not cats</small>
    </form>
    <a href="#gallery">See More</a>
  </div>
</div>

<div>
  <div class="row" id="gallery">
    {% for image in images %}
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%"></a>
        <img src="{{image.image.cdn_url}}" href="" class="image" alt="Image" >
      </div>
    {% empty %}
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
         
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center"> No images are available now. Feel free to share with us.</h2>
      </div>
      </div>
    {% endfor %}
  </div>

  {% for image in images %}
    <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Image Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-9 col-lg-9">
                <a href="{% url 'single_category' category_name=image.image_category.name image_id=image.id %}"><img id="img{{image.id}}" src="{{image.image.cdn_url}}" class="img-thumbnail" alt="Image" style="cursor:pointer"></a>
              </div>
              <div class="col-md-3">
                <h3 class = "desc">Location</h3>
                <p>{{image.image_location.name}}</p>
                <h3 class = "desc">Category</h3>
                <p>{{image.image_category.name}}</p>
              </div>
              <div>
                <h3 class="desc">{{image.name}}</h3>
                <p class="desc">{{image.description}}</p>
              </div>
            </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="copy('img{{image.id}}')">Copy Link</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}