<nav class="navbar navbar-expand-lg navbar-light" id="navMain">
  <div class="container navigation header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div>
          <li class="nav-item active"><a class="nav-link" href="/"> Home <span class="sr-only"></span></a></li>
        </div>
        <div class="dropdown show">
          <li class="nav-item"><a class="nav-link btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a></li>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for location in locations %}
            <a class="dropdown-item" href="/location/{{location.name}}">{{location.name}}</a>
            {% endfor %}
          </div>
        </div>
        {% for location in locations %}
            <a class="dropdown-item" href="/location/{{location.name}}">{{location.name}}</a>
            {% endfor %}
        <!-- <div class="dropdown show">
          <li class="nav-item"><a class="nav-link open-nav" style="cursor:pointer">Location</a></li>
        </div> -->
      </ul>
    </div>
  </div>
</nav>
  <!-- End of main navbar -->

  <!-- About Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title about"> Unsplash Me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container row">
          <p>Search for photoghraphs on interest based on various categories and view the pictures by location.</p>
          <div class="">
            <img src="" alt="" class = "splash">
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>