<nav class="navbar navbar-expand-lg navbar-light" id="navMain">
  <div class="container navigation header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div>
          <li class="nav-item btn-home active"><a class="nav-link" href="/"> Home <span class="sr-only"></span></a></li>
        </div>
        <div class="dropdown show">
          <a class="nav-link btn btn-dropdown dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a>
          <div class="dropdown-menu dropitems" aria-labelledby="dropdownMenuLink">
            {% for location in locations %}
            <a class="dropdown-item" id="dropdownMenuLink" href="/location/{{location.name}}">{{location.name}}</a>
            {% endfor %}
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
  <!-- End of main navbar -->